- provide(:title, "AmazonCopyサインイン")
.user-wrapper
  = render "devise/shared/header"

  .user-box.login-box.bottom-margin-l
    %h1.bottom-margin-s ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field.bottom-margin-base
        = f.label :email, "Eメールまたは携帯電話番号"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "text"
      .actions.bottom-margin-l
        = f.submit "次へ進む", class: "yellow-button"
      .expander
        .expander__image.sprite-user
        お困りですか?

  .user-signin-box
    %h5.bottom-margin-base Amazonの新しいお客様ですか？
    = link_to "Amazonアカウントを作成", new_registration_path(resource_name), class: "registration-button"

  = render "devise/shared/footer"
