- provide(:title)
!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", http: { equiv: "Content-Type"} }/
    %title
      = set_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
  %body
    = render "shared/header" if @display_condition
    = yield
    = render "shared/recent_history" if @display_condition
    = render "shared/footer" if @display_condition
